body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.qr-section {
    max-width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-block: 30px;
}

.qr-img {
    width: 100%;
    border-radius: 10px;
}

.qr-text {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    margin-bottom: 30px;
    
}